<div class="row">
  <div class="col-6">
  </div>
  <div class="col-6">
    <p class="form-text text-muted text-right">© <span> <%= Time.zone.now.strftime("%Y") %></span> mark w matthews, phd</p>
  </div>
</div>
