<!-- generated from the scaffold form template -->
<!--  :url => { :action => "/sessions/create" }, :method =>"post"-->
<%= simple_form_for @user do |f| %>
  <fieldset>
    <legend>Login</legend>

    <div class="form-inputs">
      <%= f.input :email %>
      <%= f.input :password %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, 'Log In', class: "btn btn-success",
                   formaction:               "/sessions",
                   formmethod:               "post" %>
    </div>
  </fieldset>
<% end %>


