<div class="row">
  <h1>Items#index</h1>

</div>
<div class="row">
  <div class="col-2"></div>
  <div class="col-8">
    <%= render('shared/table_items') %>
  </div>
  <div class="col-2"></div>
</div>
<div class="row">
  <div class="col-2"></div>
  <div class="col-8">
    <%= render('shared/form_item_add') %>
  </div>
  <div class="col-2"></div>
  <p>Find me in app/views/items/index.html.erb</p>
</div>
